include LICENSE
include README.md
include requirements.txt
recursive-include PsychoPyInterface/resources *
recursive-include PsychoPyInterface/data *.json
recursive-include GazeAnalytics/client/public *
recursive-include GazeAnalytics/client/src *
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store 